  
{% extends 'base1.html' %}

{% block titulo %}
    Nuevo vehiculo
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
    
    <div class="container">
        <h1 class="text-center">Tu Veh&#237;culo</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-6 col-lg-5">
                <div class="form-group">
                    <label for="email" class="form-label">Modelo</label>
                    <input type="email" class="form-control" name="email" id="email"value="{{vehiculo.modelo}}" disabled>

                    <label for="first_name" class="form-label">Marca</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{vehiculo.marca}}" disabled>

                    <label for="last_name" class="form-label">Matr&#237;cula</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" value="{{vehiculo.matricula}}" disabled>


                    <label for="email" class="form-label">Asientos</label>
                    <input type="email" class="form-control" name="email" id="email"value="{{vehiculo.asientos}}" disabled>
                

                    <label for="email" class="form-label">Descripci&#243;n</label>
                    <input type="textarea" class="form-control" name="email" id="email"value="{{vehiculo.descripcion}}" disabled>
                </div>
                <br>
                <div class="text-center">
                    <a href="{% url 'usuarios:ver_mi_cuenta' %}" class="btn boton-negativo">Volver</a>
                    <a href="{% url 'vehiculos:editar'%}" class="btn boton">Editar</a>
                    <button onclick="muestraModal('{% url 'vehiculos:eliminar' vehiculo.id %}','{{vehiculo.marca}}')" type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal">
                        Eliminar Vehiculo
                    </button>
                </div>
            </div><!--/col-9-->
        </div><!--/row-->
    </div>

    <!-- Modal -->
<div class="modal hide" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa"></i></button>
            </div>
            <div class="modal-body" id ="texto"></div>
            <div class="modal-footer">
                <button type="button" class="btn boton-negativo" data-dismiss="modal">No</button>
                <form id="formEliminar" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Si</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>
    
{% endblock body %}


{% block js %}
    <script>
        function muestraModal(url,marca){

            document.getElementById('formEliminar').action = url;
            document.getElementById('texto').innerHTML = `¿Deseas eliminar el  vehiculo  marca ${marca} ?`;
        }
    </script>
{% endblock js %}