{% extends 'base1.html' %}

{% block titulo %}
    Nuevo vehiculo
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
    
    <div class="container">
        <h1 class="text-center">Editar Veh&iacute;culo</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-6 col-lg-5">
                <label for="Modelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" name="Modelo" id="Modelo" value="{{vehiculo.modelo}}" disabled>

                <label for="first_name" class="form-label">Marca</label>
                <input type="text" class="form-control" name="first_name" id="first_name" value="{{vehiculo.marca}}" disabled>

                <label for="last_name" class="form-label">Matr&#237;cula</label>
                <input type="text" class="form-control" name="last_name" id="last_name" value="{{vehiculo.matricula}}" disabled>


                <label for="email" class="form-label">Asientos</label>
                <input type="email" class="form-control" name="email" id="email"value="{{vehiculo.asientos}}" disabled>
                <form method="post">
                    {% csrf_token %}
                    
                    <label for="descripcion" class="form-label">Descripci&#243;n</label>
                    {{form.descripcion}}
                    
                    <br>

                    <div class="text-center">
                        <a href="{% url 'usuarios:ver_mi_cuenta' %}" class="btn boton-negativo">Volver</a>
                        <button type="submit" class="btn boton">Guardar</button>
                    </div>
                </form>
            </div><!--/col-9-->
        </div><!--/row-->
    </div>

    <br>
    <br>
    
{% endblock body %}


{% block js %}
{% endblock js %}