{% extends 'base1.html' %}

{% block titulo %}
    Nuevo vehiculo
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
    
    <div class="container">
        <h1 class="text-center">Agregar Veh&#237;culo</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-6 col-lg-5">
                <label for="modelo" class="form-label">Modelo</label>
                <input type="email" class="form-control" name="modelo" id="modelo"value="{{vehiculo.modelo}}" disabled>

                <label for="marca" class="form-label">Marca</label>
                <input type="email" class="form-control" name="marca" id="marca"value="{{vehiculo.marca}}" disabled>

                <label for="matricula" class="form-label">Matr&#237;cula</label>
                <input type="email" class="form-control" name="matricula" id="matricula"value="{{vehiculo.matricula}}" disabled>

                <label for="asientos" class="form-label">Asientos</label>
                <input type="email" class="form-control" name="asientos" id="asientos"value="{{vehiculo.asientos}}" disabled>
                <form method="post">
                    {% csrf_token %}
                    
                    <label for="descripcion" class="form-label">Descripci&#243;n</label>
                    {{form.descripcion}}
                    
                    <button type="submit" class="btn boton">Guardar</button>
                </form>
            </div><!--/col-9-->
        </div><!--/row-->
    </div>
{% endblock body %}


{% block js %}
{% endblock js %}