  
{% extends 'base1.html' %}

{% block titulo %}
    Nuevo vehiculo
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
    
    <div class="container">
        <h1 class="text-center">Agregar Veh&#237;culo</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-6 col-lg-5">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn boton">Guardar</button>
                </form>
            </div><!--/col-9-->
        </div><!--/row-->
    </div>
{% endblock body %}


{% block js %}
{% endblock js %}