reito/*.log
reito/*.pot
reito/*.pyc
reito/__pycache__/
reito/db.sqlite3
reito/media/


reito/reito/__pycache__/
reito/reservas/__pycache__/
reito/usuarios/__pycache__/
reito/vehiculos/__pycache__/
reito/viajes/__pycache__/


reito/reito/migrations/
reito/reservas/migrations/
reito/usuarios/migratios/
reito/vehiculos/migrations/
reito/viajes/migrations/
