*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
.env


reito/__pycache__/
reservas/__pycache__/
usuarios/__pycache__/
vehiculos/__pycache__/
viajes/__pycache__/
usuarios/migrations/__pycache__/


reito/migrations/__pycache__/
reservas/migrations/__pycache__/
usuarios/migratios/__pycache__/
vehiculos/migrations/__pycache__/
viajes/migrations/__pycache__/
