{% extends 'base1.html' %}


{% block title %}
  Información del Viaje
{% endblock title %}

{% block body %}

<h1 class="text-center">Detalle General</h1>
<br>
<hr>
<div class="text-center">
    <h2 class="text-center">Detalle Viaje</h2>

    <h3>Conductor: {{viaje.conductor}}</h3>
    <h3>Destino: {{viaje.destino}}</h3>
    <h3>Precio: {{viaje.precio}}</h3>
    <h3>Fecha: {{viaje.fecha}}</h3>
    <h3>Hora: {{viaje.hora}}</h3>
    <h3>Asientos: {{viaje.asientos}}</h3>
    <h3>Descripcion: {{viaje.descripcion}}</h3>

</div>
<br>
<hr>

<h1 class="text-center">Viajeros aprobados</h1>
<br>
<hr>
<table class="table">
  <thead>
      <th>Nombre</th>
      <th>Acciones</th>
  </thead>
  <tbody>
      {% for viajero in viajeros %}
      <tr>
          <td>{{viajero}}</td>
          </td>
          <td>
            <a class="btn boton" href="{% url 'usuarios:ver_info_pas' viajero.id%}" >Ver informacion</a> 
          </td>
      </tr>
      {% endfor %}
      
  </tbody>
</table>
<br>
<hr>
{% endblock body %}
