body {
    background-color: rgb(245, 245, 245);
}

.separador
{
    padding: 5px;
    background-color: rgb(245, 245, 245);
}

.propio-nav
{
    background-color: rgb(21, 84, 165);
}

.contenido
{
    /* padding: 15px; */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenido2
{
    padding-bottom: 30px;
}

.titulo
{
    text-align: center;
}

.formulario
{
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}
/* .acciones
{
    display: ;
    align-items: flex-end;
} */



/* -----------------  Nav Bar ------------------ */


.nav-personalized {
    background-color: #0D0221;
}

.nav-personalized a {
    color: #FFFFFF;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-personalized a:hover {
    color: #3A606E;
}

.nav-personalized ul a{
    color: #3A606E;
}


.contenedor {
    width: 90%;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-links {
    align-items: center;
}

@media (max-width: 767px) {
    .contenedor {
        width: 95%;
        margin: auto;
    }

    .nav-personalized a {
        margin-right: 10px;
    }
}



/* -----------------   ------------------ */

.separator {
    padding: 5px;
}

.container-image-index {
    text-align: center;
}


@media (min-width: 768px) {
    .container-image-index h1 {
        font-size: 60px;
        font-weight: bolder;
        color: #3A606E;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .container-image-index h1 {
        font-size: 30px;
        font-weight: bolder;
        color: #3A606E;
        padding-bottom: 10px;
    }
}
@media (min-width: 768px) {
    .container-image-index h2 {
        font-size: 30px;
        font-weight: bolder;
        color: #3A606E;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .container-image-index h2 {
        font-size: 30px;
        font-weight: bolder;
        color: #3A606E;
        padding-bottom: 10px;
    }
}

.image-index {
    width: 100%;
    height: auto;
}

.boton {
    background:#17C3B2; 
    color:white;
}

/* .card h1 {
    font-weight: bolder;
}

.card li {
    font-size: 1.5rem;
}

.card p {
    font-size: 1.5rem;
} */

div.estado {
    color: #fff;
}
div.estado_positivo {
    background-color: #17C3B2;
}

div.estado_negativo {
    background-color: #3A606E; 
}

.boton-negativo {
    background:#3A606E; 
    color:white;
}

.boton-peligro {
    background:#0D0221; 
    color:white;
}

@media (min-width: 990px) {
    .busqueda {
        left:35%
    }
}

@media (max-width: 989px) {
    .busqueda {
        left:25%
    }
}

@media (max-width: 767px) {
    .busqueda {
        left:15%
    }

    .head {
        flex-direction: column;
    }
}

@media (max-width: 340px) {
    .busqueda {
        left:5%
    }
}

.destino-item:hover {
    background:#3A606E; 
    color:white;
}

.destino-item {
    margin-bottom: 17.5px;
}


.destinos-frec{
    text-decoration: none;
    color: #2374AB;
    margin-left: 15px;
}

.destinos-frec:hover{
    text-decoration: none;
    color: #0D0221;
}



