  
{% extends 'base1.html' %}

{% block titulo %}
    Nuevo vehiculo
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
    <h1>Este es tu vehiculo</h1>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="email"><h4>Modelo</h4></label>
                                        <input type="email" class="form-control" name="email" id="email"value="{{vehiculo.modelo}}" disabled>
        
                                        <label for="first_name"><h4>Marca</h4></label>
                                        <input type="text" class="form-control" name="first_name" id="first_name" value="{{vehiculo.marca}}" disabled>
        
                                        <label for="last_name"><h4>Matricula</h4></label>
                                        <input type="text" class="form-control" name="last_name" id="last_name" value="{{vehiculo.matricula}}" disabled>
                    
        
                                        <label for="email"><h4>Asientos</h4></label>
                                        <input type="email" class="form-control" name="email" id="email"value="{{vehiculo.asientos}}" disabled>
                                    
        
                                        <label for="email"><h4>Descripcion</h4></label>
                                        <input type="textarea" class="form-control" name="email" id="email"value="{{vehiculo.descripcion}}" disabled>
                                    </div>
                                </div>
                                
                     </div><!--/tab-pane-->
                  </div><!--/tab-content-->
                  <br>
            </div><!--/col-9-->
        </div><!--/row-->
    </div>
    <a href="{% url 'usuarios:ver_mi_cuenta' %}" class="boton btn">Regresar</a>
{% endblock body %}


{% block js %}
{% endblock js %}