*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

reito/__pycache__/
reservas/__pycache__/
usuarios/__pycache__/
vehiculos/__pycache__/
viajes/__pycache__/

reito/migrations/
reservas/migrations/
usuarios/migratios/
vehiculos/migrations/
viajes/migratios/
