{% extends 'base1.html' %}
{% load static %}

{% block title %}
Detalle de cuenta
{% endblock title %}

{% block body %}


<div class="container">
    <h1 class="text-center"> Perfil</h1>
    <div class="row justify-content-center align-items-center">
    	<div class="col col-sm-8 col-md-6 col-lg-5">
            <div class="form-group">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" name="username" id="username"value="{{usuario.username}}" disabled>

                <label for="first_name" class="form-label">Nombre(s)</label>
                <input type="text" class="form-control" name="first_name" id="first_name" value="{{usuario.first_name}}" disabled>

                <label for="last_name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" name="last_name" id="last_name" value="{{usuario.last_name}}" disabled>

                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" name="email" id="email"value="{{usuario.email}}" disabled>
            
                <label for="telefono" class="form-label">Tel&eacute;fono</label>
                <input type="telefono" class="form-control" name="telefono" id="telefono"value="{{usuario.telefono}}" disabled>
            </div>   
            <br>

            <div class="container">
                <div class="d-flex col-12 justify-content-between">
                    <div>
                            <a href="javascript:history.back()" class="btn boton"> Volver Atrás</a>
                    </div>
                    <div class="d-flex">
                            <form action="{% url 'usuarios:editar_mi_cuenta' %}" method="GET">
                                <button type="submit" class="btn boton">Editar</button>
                            </form>
                            {%if vehiculo %}
                                <a href="{% url 'vehiculos:ver' vehiculo.id %}" class="boton btn"> Ver mi veh&iacute;culo</a>
                            {%else%}
                                <a href="{% url 'vehiculos:nuevo' %}" class="btn boton">Agregar veh&iacute;culo</a>
                            {%endif%}
                    </div>
                </div>
            </div>

            
        </div><!--/col-9-->
    </div><!--/row-->
</div>

{% endblock body %}

{% block js %}

{% endblock js %}