{% extends 'base1.html' %}
{% load static %}

{% block title %}
Editar cuenta
{% endblock title %}

{% block body %}

<div class="container bootstrap snippet">
    <h1 class="text-center">Editar perfil</h1>
    <div class="row justify-content-center align-items-center">
    	<div class="col col-sm-8 col-md-6 col-lg-5">
            <div class="form-group">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" name="username" id="username"value="{{user.username}}" disabled>

                <label for="first_name" class="form-label">Nombre(s)</label>
                <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" disabled>

                <label for="last_name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" disabled>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <label for="email" class="form-label">Correo</label>
                    {{form.email}}
                    
                    <label for="telefono" class="form-label">Tel&eacute;fono</label>
                    <input pattern="\d*" maxlength="10" minlength="10" class="form-control" name="{{form.telefono.name}}" id="{{form.telefono.name}}" value="{{form.telefono.value}}">
                    
                    {{ form.descripcion.errors }}
                    <label for="{{ form.descripcion.id_for_label }}">Descripci&oacute;n</label>
                    {{ form.descripcion }}

                    
                    {% if not form.foto.value %}
                        {{ form.foto.errors }}
                        <label for="foto" class="form-label">Imagen</label>
                        <input type="file" class="form-control" name="foto" id="foto" accept="image/x-png,image/gif,image/jpeg" required>
                    {% endif %}
                        
                    <br>

                    <div class="text-center">
                        <a href="{% url 'usuarios:ver_mi_cuenta' %}" class="btn boton-negativo"> Volver</a>
                        <button type="submit" class="btn boton">Guardar</button>
                    </div>
                </form>
            </div>
        </div><!--/col-9-->
    </div><!--/row-->
</div>

<br>
<br>

{% endblock body %}

{% block js %}

{% endblock js %}