{% extends 'base1.html' %}

{% load static %}




{% block title %}
  Información del Viaje
{% endblock title %}

{% block body %}
  <div class="container">
    <div class="container col-sm-11 col-md-9 col-lg-5">
      <div class="card">
          <div class="card-header text-center">
              <h1 class="card-title">{{viaje.destino}}</h1>
              <h5 class="card-title">{{viaje.fecha}}</h5>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{viaje.hora}}</li>
              <li class="list-group-item">${{viaje.precio}}</li>
              <li class="list-group-item">{{viaje.asientos}} Asientos disponibles</li>
              <li class="list-group-item">{{viaje.conductor}}</li>
          </ul>
          <div class="card-body">
              <p class="card-text">{{viaje.descripcion}}</p>
          </div>
        </div>
    </div>

    <br>


      <div class="container col-sm-11 col-md-9 col-lg-5 text-center">
        <a href="{% url 'viajes:ver_viajes' %}" class="btn boton-negativo"> Volver</a>
        <button onclick="muestraModal('{% url 'viajes:eliminar' viaje.id %}','{{viaje.destino}}')" type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal">
          Cancelar Reito
        </button>
      </div>


    <br><br>
    
    <h1 class="text-center">Viajeros aprobados</h1>
    <br>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-10 col-md-8 col-lg-6">
          <table class="table">
            <thead>
              <th>Nombre</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for viajero in viajeros %}
              <tr>
                <td>{{viajero}}</td>
              </td>
              <td>
                <a class="btn boton" href="{% url 'usuarios:ver_info_pas' viajero.id viaje.id %}" >Ver informaci&oacute;n</a> 
              </td>
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    <br><br>


    <h1 class="text-center">Reservas pendientes</h1>
    <br>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-10 col-md-8 col-lg-6">
          <table class="table ">
            <thead>
              <th>Nombre</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for viajero in viajeros_pendientes %}
              <tr>
                <td>{{viajero}}</td>
              </td>
              <td>
                <a class="btn boton" href="{% url 'usuarios:ver_info_pas' viajero.id viaje.id %}" >Ver informacion</a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br><br>
  </div>

<!-- Modal -->
<div class="modal hide" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa"></i></button>
          </div>
          <div class="modal-body" id ="texto"></div>
          <div class="modal-footer">
              <button type="button" class="btn boton-negativo" data-dismiss="modal">No</button>
              <form id="formEliminar" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Si</button>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock body %}

{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}