{% extends 'base1.html' %}



{% block title %}
    Reito
{% endblock title %}
    

{% block body %}
  

<div class="container col-sm-11 col-md-9 col-lg-5">
    <div class="card">
        <div class="card-header text-center">
            <h1 class="card-title">{{viaje.destino}}</h1>
            <h5 class="card-title">{{viaje.fecha}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{viaje.hora}}</li>
            <li class="list-group-item">${{viaje.precio}}</li>
            <li class="list-group-item">{{viaje.asientos}} asientos disponibles</li>
            <li class="list-group-item">{{viaje.conductor}}</li>
            {% if telefono %}
            <li class="list-group-item">{{telefono}}</li>
            {% endif %}
        </ul>
        
        <div class="card-body">
            <p class="card-text">{{viaje.descripcion}}</p>
        </div>
        <div class="card-footer text-muted text-center">
            {% if tiene_reserva %}
                <a class="btn boton-negativo" href="{% url 'reservas:cancelar' user.id viaje.id %}">Cancelar</a>
            {% else %}
                <a class="btn boton" href="{% url 'reservas:nueva' user.id viaje.id %}">Reservar</a>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock body %}
    