{% extends 'base1.html' %}
{% load static %}

{% block title %}
    Reito
{% endblock title %}


{% block body %}

    <div class="container-image-index">
        <div class="container">
            <h1>Encuentra tu mejor Reito</h1>
        </div>
        <div class="container-fluid separator">
        
            {% if user.is_authenticated %}
                {% include "barra_busqueda.html" %}
            {% endif %}
            
            {% if not user.is_authenticated %}
                <img class="image-index" src="{% static 'img/fondo_autos2.png' %}" alt="Transporte">
            {% endif %}
        </div>
        <div class="container-fluid separator">
        </div>
    </div>
    

    
    
{% endblock body %}
    
    