{% extends 'base1.html' %}


{% block title %}
  Viajes disponibles
{% endblock title %}

{% block body %}

<!-- <h1 class="text-center">Viajes disponibles para {{destino}}</h1> -->
<br><br>
<div class="container col-sm-10 col-md-6 col-lg-4 justify-content-center align-items-center">
    {% if viajes %}
    <div class="text-center" style="margin-bottom: 20px;">
      <h1>Selecciona tu Reito</h1>
    </div>
    <ul class="list-group list-group-flush">
        {% for viaje in viajes %}
            <a href="{% url 'viajes:detalle' viaje.id %}" class="border rounded-3 list-group-item list-group-item-action flex-column align-items-start destino-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{viaje.conductor}}</h5>
                  <small>${{viaje.precio}}</small>
                </div>
                <div class="text-center">
                    <h3>{{viaje.destino}}</h3>
                </div>
                <div>
                    <small>{{viaje.fecha}} - {{viaje.hora}}</small>
                </div>
              </a>
        {% endfor %}
    </ul>
    {% else %}
    <h2>Lo lamento, no hay viajes disponibles en este momento.</h2>
    {% endif %}
</div>
{% endblock body %}
    