{% extends 'base1.html' %}


{% block title %}
  Nuevo Viaje
{% endblock title %}

{{% block body %}

<div class="container">
    <h1 class="text-center">Publicar Reito</h1>
    <div class="row justify-content-center align-items-center">
    	<div class="col col-sm-8 col-md-6 col-lg-5">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <a href="javascript:history.back()" class="btn boton"> Volver Atrás</a>
                <button type="submit" class="btn boton">Guardar</button>
            </form>      
        </div>
    </div>
</div>
<br>
<br>

{% endblock body %}}