{% extends 'base1.html' %}
{% load static %}

{% block titulo %}
Detalle de cuenta
{% endblock titulo %}

{% block body %}


<div class="container bootstrap snippet">
    <div class="row">
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h4>Nombre de usuario</h4></label>
                                <input type="email" class="form-control" name="email" id="email"value="{{usuario.username}}" disabled>

                                <label for="first_name"><h4>Nombre(s)</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{usuario.first_name}}" disabled>

                                <label for="last_name"><h4>Apellidos</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{usuario.last_name}}" disabled>
            

                                <label for="email"><h4>Correo</h4></label>
                                <input type="email" class="form-control" name="email" id="email"value="{{usuario.email}}" disabled>
                            

                                <label for="email"><h4>Telefono</h4></label>
                                <input type="email" class="form-control" name="email" id="email"value="{{usuario.telefono}}" disabled>
                            </div>
                        </div>
                        
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
          <br>
          <form action="{% url 'usuarios:editar_mi_cuenta' %}" method="GET">
              <button type="submit" style="background:#17C3B2; color:white;" class="btn">Editar</button>
          </form>
          {%if vehiculo %}
          <a href="{% url 'vehiculos:ver' vehiculo.id %}" class="boton btn"> Ver mi vehiculo</a>
          {%else%}
            <a href="{% url 'vehiculos:nuevo' %}" class="btn btn-primary">Agregar vehiculo</a>
          {%endif%}
        </div><!--/col-9-->
    </div><!--/row-->
</div>

{% endblock body %}

{% block js %}

{% endblock js %}