{% extends 'base1.html' %}
{% load static %}

{% block titulo %}
Editar cuenta
{% endblock titulo %}

{% block body %}

<div class="container bootstrap snippet">
    <h1 class="text-center">Editar perfil</h1>
    <div class="row justify-content-center align-items-center">
    	<div class="col col-sm-8 col-md-6 col-lg-5">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{field.name}}" class="form-label">{{field.label}}</label>
                    <input class="form-control" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
                {% endfor %}
                <br>
                <button type="submit" class="btn boton">Guardar cambios</button>
            </form>
        </div><!--/col-9-->
    </div><!--/row-->
</div>

{% endblock body %}

{% block js %}

{% endblock js %}